<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{#if style1}}
      <link rel="stylesheet" href="/css/{{ style1 }}">
    {{/if}}
    {{#if style2}}
      <link rel="stylesheet" href="/css/{{ style2 }}">
    {{/if}}
    {{#if style3}}
      <link rel="stylesheet" href="/css/{{ style3 }}">
    {{/if}}
    <script src="https://kit.fontawesome.com/e160edd0cf.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/getDate.js"></script>
    <script src="/js/validateInput.js"></script>

    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="/images/pikapika.png" style="width:100px; height:100px">
  </head>
  <body>
    {{{body}}}
  </body>
</html>